/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	letter-spacing:-1px;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}
	
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

.off-canvas-wrapper {
	background:#222;
}

.off-canvas {
	background:none;
	.topper {
		margin:0;
		padding:13px 15px 13px 15px;
		background:rgba(0,0,0,0.8);
		color:rgba(255,255,255,0.3);
		font-size: 0.75em;
		font-weight:normal;
		letter-spacing: 0;
	}	
	.menu.vertical li {
	    border-bottom: solid 1px rgba(0,0,0,0.1);
	    font-size: 0.75em;
	    ul ul {
	    	border-top: solid 1px rgba(0,0,0,0.1);
	    }
	    ul li {
	    	font-size: 0.85em;
	    	text-transform: uppercase;
	    	padding-left:10px;
	    }
	}
	.menu .active a {
	    color: rgba(255,255,255,0.35);
	    background:transparent;
	}
	.menu a {
	    color: rgba(255,255,255,0.35);
	}
	.menu a:after {
		border-color: rgba(255,255,255,0.35) transparent transparent;
	}
	.submenu {
		border-top: solid 1px rgba(0,0,0,0.1);
	}
	
}

.very-top-bar {
	background:#252525;
	margin-bottom:15px;
	padding:15px 0 10px 0;
	font-size:0.7em;
	color:rgba(255,255,255,0.6);
	@media(max-width:480px){
		font-size: 0.6em;
	}
	h3 {
		font-size: 1em;
		float:left;
		margin:1px 40px 0 0;
		letter-spacing: 0;
	}
	ul {
		margin:0;
		padding:0;
		li {
			list-style: none;
			display: inline-block;
			margin-right:20px;	
			a {
				color:rgba(255,255,255,0.6);
				text-decoration: none;
				transition: all 0.2s ease;
			}
			a:hover {
				color:rgba(255,255,255,1);
			}
		}
	}
	.leftside {
		ul {
			margin:0 0 0 20px;
			li {
				@media(max-width:1023px){
					margin-left:-30px;
						i {
							font-size: 1.4em;
							span {
								font-family:'Poppins';
								padding-left:5px;
								font-size: 0.7em;
								font-weight: 300;
								@media(max-width:650px){
									display: none;
								}
							}
						}
				}
			}
		}
	}
	.rightside {
		text-align: right !important;
		ul {
			float: right;
			li {
				margin-right:0;
				margin-left:20px;
				@media(max-width:1023px){
					margin-left:10px;
						i {
							font-size: 1.4em;
							span {
								font-family:'Poppins';
								padding-left:5px;
								font-size: 0.7em;
								font-weight: 300;
								@media(max-width:650px){
									display: none;
								}
							}
						}
				}
			}
		}
	}
	.small-2-big {
		width:21%;
	}
	.small-10-small {
		width:79%;
	}
}

.top-bar {
	background:#fff;
	padding: 8px 25px 0 25px;
	position:relative;
	#site-logo {
		max-width:225px;
		margin-top:3px;
	}
	.row {
		position: relative;
	}
	.small-logo {
		#site-logo {
			max-width: 200px;
			margin-bottom:10px;
			left:50%;
			position:absolute;
			margin-left:-100px;
			top:-3px;
			@media(max-width:480px){
				max-width: 185px;
				margin-left:-92px;
			}
		}
		.toggleness {
			float: right;
			color: rgba(0,0,0,0.9);
			margin:5px -15px 30px 0;
			padding:10px;
			z-index: 9999;
			i {
				font-size: 1.4em;
				color: rgba(0,0,0,0.9);
				@media(max-width:420px){
					font-size: 1.2em;
					margin:0 -20px 0 0;
				}
			}
		}
		@media(min-width:1024px){
			display:none;
		}
		@media(max-width:1023px){
			display:block;
		}
	}
	.logo {
		@media(max-width:639px){
			text-align: center;
			margin-bottom: 5px;
			display:none;
			#site-logo {
				max-width: 225px;
			}
		}
		@media(max-width:1023px){
			display:none;
		}
	}
	.main-menu {
		@media(max-width:1023px){
			display:none;
		}
	}
	.text-right {
		h4 {
			padding:0;
			margin:0;
			font-size: 0.75em;
			letter-spacing: 1px;
			font-weight: 300;			
			text-transform: uppercase;
			color:rgba(0,0,0,0.6);
		}
		h3 {			
			padding:0;
			margin:-5px 0 0 0;
			font-size: 1.2em;
			font-weight: 600;
			color:#000;
		}
		h2 {
			padding:0;
			margin:5px 0 0 0;
			font-weight: 600;
			font-size: 1em;
		}
		p {
			padding:0 0 5px 0;
			margin:0;
			font-size: 0.85em;
			@media(max-width:750px){
				max-width:235px;
				float: right;
			}
		}
		@media(max-width:1023px){
			display:none;
		}
	}
	ul {
		background:none;
		float:right;
		margin-right:25px;
		@media(max-width:1023px){
			margin:10px auto 0 auto;
			float:none;
			text-align: center;
			li {
				display:inline-block !important;
				float:none;
			}
		}
	}
	.menu.medium-horizontal li {
		display: inline-block;
	}
	.menu .active a {
	    background: none;
	    border-bottom: solid 3px $primary-color;
	}
	.menu a {
		border-bottom: solid 3px #fff;
		color:rgba(0,0,0,0.4);
		font-weight: 600;
		font-size: 0.8em;
		display: block;
		padding:15px 10px 15px 10px;
	}
	.menu a:hover {
		border-bottom: solid 3px $primary-color;
	}
	.contact-small-menu {
		text-align: center;
		margin:0 auto;
		li {
			display:inline-block;
			margin:0;
			@media(max-width:400px){
				margin:0 -5px;
			}
		}
		a {
			color:#000;
			font-size: 0.8em;
			font-weight: 600;
		}
		i {
			font-size: 1.3em;
			color: $primary-color;
		}
	}
	.pp_search_container {
		position:absolute;
		right:10px;
		top:58px;
	}

	.small-logo .pp_search_container {
		top:10px;
		left:-5px;
		width: 0;
		.predictive_search_input {
			background-size:21px 21px;
		}
		.predictive_search_input:focus {
			z-index: 999999;
			background-size: 14px 14px;
		}
	}
	.main-menu {
		@media(max-width:1080px){
			font-size: 0.95em !important;
		}
	}
	.predictive_search_input {
		background-color: transparent !important; 
		opacity: 0.7;
		background-image: url(https://cdn0.iconfinder.com/data/icons/30_Free_Black_ToolBar_Icons/40/Black_Search.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 14px 14px;
		border: none !important;
		cursor: pointer;
		height: 37px;
		margin: 0;
		padding: 10px;
		position: relative;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: 0 !important;
		box-shadow:none;
	}

	::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #69f }
	::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* firefox 19+ */
	:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f } /* ie */
	input:-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #69f }

	.predictive_search_input:focus {
		background-color: #fff !important;
		border: 1px solid rgba(0,0,0,0.3) !important;
		cursor: text;
		background-position: 200px 10px;
		outline: 0;
		width: 230px !important;
		opacity: 1;
		font-size: 0.85em;
		padding:3px 30px 3px 10px;
	}

	input[type="search"] {
	  -webkit-appearance: textfield;
	}

	.dropdown.menu.medium-horizontal li.is-dropdown-submenu-parent a {
		padding-right: 10px;
	}

	.dropdown.menu.medium-horizontal li.is-dropdown-submenu-parent a:after {
		display: none;
	}

	ul.submenu {
		background:#fff;
		box-shadow: 2px 3px 3px rbga(0,0,0,0.2);
		li {
			border-top:solid 1px rgba(0,0,0,0.1);
			text-align: left;
			border-bottom:none;
			a {
				text-align: left;
				font-weight: normal;
				font-size: 0.75em;
				border: none !important;
			}
			a:hover {
				border:none;
				color:$primary-color;
			}
		}
		li:first-child {
			border-top:none;
		}
	}
}



.home {
	#featured-categories {
		margin:25px auto;
		a {
			display: inline-block;
			width: 190px;
			height: 140px;
			margin-left:15px;
			margin-bottom:15px;
		}
		a:first-child {
			margin-left:0;
		}
	}
	.featured-products {
		margin:25px auto;
		max-width: 980px;
		float:none;
		@media(max-width: 640px){
			margin:25px auto -10 auto;
		}		
		h4 {
			text-align: center;
			font-weight: bold;
			font-size: 0.9em;
		}
		h3 {
			text-align: center;
			font-weight: bold;
			font-size: 1.6em;
			margin-bottom:50px;
		}
		.woocommerce h3:nth-child(1) {
			display: none !important;
		}
		.woocommerce h3 {
			text-align: left;
			font-size: 0.85em !important;
			color:#000;
		}		
		.owl-item {
			padding: 15px;
		}
		.owl-item a.add_to_cart_button {
			background: #646464;
			color: #fff;
			font-size: 0.75em;
			text-transform: uppercase;
			text-align: left;
			padding: 10px;
			text-indent: 10px;
			display: block;
			width: 100%;
			position: relative;

		}
		.owl-item a.add_to_cart_button:after {
			background: #646464;
			color: #fff;
			font-size: 1em;
			text-transform: uppercase;
			text-align: center;
			padding: 10px 10px 10px 0;
			content:'+';
			position: absolute;
			right: 2px;
			top:0;
			border-left:solid 1px rgba(255,255,255,0.3);
		}
		.owl-item:hover a.add_to_cart_button,
		.owl-item:hover a.add_to_cart_button:after {
			background:$primary-color;
		}
		.wpsf-product-category {
			clear:both;
			font-size: 0.6em;
			float: none;
			margin-top:20px;
			text-align: left;
			color:rgba(0,0,0,0.5);
		}
		.wpsf-product-title {
			font-size: 0.8em;
			font-weight: 600;			
			float: none;
			text-align: left;
		}
		.wpsf-product-price {
			font-size: 0.75em;
			font-weight: 600;
			margin-top: 5px;
			float: none;
			text-align: left;
		}
	}
	.homepage-parallax {
		background:url('/wp-content/uploads/homepage-parallax.jpg');
		background-position: center center;
		background-attachment: fixed;
		display: block;
		clear:both;
		background-size: contain; 
		width:100%; 
		display:block;
		text-align:center;
		margin:50px auto;
		padding:25px 0 20px 0;
		@media(max-width:960px){
			margin:20px auto;
			background-size: cover;
		}
		.row {
			max-width: 1100px;
			margin:0 auto;
		}
		h3 {
			color:#fff;
			margin:15px auto -5px auto;
			padding-bottom:0;
			font-size: 3em;
			font-weight: bold;
			float:left;
			clear:left;
			@media(max-width:960px){
				font-size: 2em;
				float: none;
				text-align: center;
			}
		}
		p {
			color: #fff;
			font-size:1.3em;
			float:left;
			clear:left;
			@media(max-width:960px){
				float: none;
				text-align: center;
			}
		}
		a {
			display: inline-block;
			text-align: center;
			margin:45px auto 0 auto;
			border:solid 2px rgba(255,255,255,0.9);
			color:#fff;
			padding:20px 60px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.9em;
			float:right;
			margin-top: -40px;
			transition:all 0.2s ease;
			@media(max-width:960px){
				float: none;
				margin-top:0;
				font-size: 0.8em;
				padding: 15px 48px;
			}
		}
		a:hover {
			background:rgba(255,255,255,0.3);
			opacity: 0.9;
		}
	}	
	#homepage-text {
		display: block;
		clear:both;
	}
	#homepage-text .homepage-text-parallax {
		background:url('/wp-content/uploads/homepage-text-parallaxal.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: contain; 
		display:block;
		text-align:center;
		margin:50px auto;
		float: left;
		width: 48%;
		height: 400px;
		@media(max-width:960px){
			float: none;
			width:100%;
			height: 200px;
			margin:20px auto;			
			background-size: cover;
		}
	}	
	#homepage-text .entry-content {
		float: right;
		width: 50%;
		padding: 40px;
		text-align: left;
		@media(max-width:960px){
			float: none;
			width:100%;
			padding:20px 50px;
		}
		@media(max-width:640px){
			float: none;
			width:100%;
			padding:20px;
		}
		h2 {
			font-weight: bold;;
			font-size: 1.5em;
			color: #000;
			text-transform: uppercase;
			margin: 15px 0 10px 0;
			padding:5px 0;
		}
		h4 {
			font-size: 1.4em;
			font-weight: bold;
			color: $primary-color;
			margin: 0 0 10px 0;
			padding:5px 0;
		}
		p {
			font-size: 0.9em;
			line-height: 1.6em;
			color: rgba(0,0,0,0.65);
			margin-bottom: 15px;
		}
		.bluebutton {
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			padding: 13px 40px;
			background: $primary-color;
			margin:15px 0 25px 0;
			border:solid 2px $primary-color;
			display: inline-block;	
			@media(max-width:640px){
				font-size: 0.85em;
			}		
		}
		.greyoutlinebutton {
			font-size: 1em;
			font-weight: bold;
			text-transform: uppercase;
			color: rgba(0,0,0,0.5);
			border:solid 2px rgba(0,0,0,0.5);
			padding: 13px 40px;
			display: inline-block;
			margin-left: 15px;
			@media(max-width:640px){
				font-size: 0.85em;
				margin-left:5px;
			}
		}
		a {
			transition:all 0.2s ease;
		}
		a:hover {
			opacity: 0.7;
		}
	}
	#bottom-content {
		max-width:980px;
		margin:45px auto;
		padding:25px;
		@media(max-width:640px){
			margin:45px auto 0 auto;
		}
		.bottom-content-header {
			padding-bottom:40px;
			margin-bottom:30px;
			border-bottom:solid 1px rgba(0,0,0,0.1);
			h3 {
				float: left;
				color:#000;
				font-weight: 600;
				font-size: 1.5em;
			}
			a {
				color:#ccc;
				font-size: 1em;
				font-weight: normal;
				float: right;
				i {
					font-size: 1.6em;
					margin:5px;
				}
			}
		}
		#cff .cff-item {
			width: 48%;
			clear: none;
			margin-left: 4%;
			@media(max-width:640px){
				width: 100%;
				margin:10px 0 0 0;
			}
		}
		#cff .cff-item:first-child {
			margin-left: 0;
		}
		#cff .cff-post-links {
			float:none;
			margin-top:0;
		}
	}
}







.footer {
	background:#252525;
	font-weight:normal;
	@media(max-width: 639px){
		padding-right:10px;
		text-align: center;
		img {
			margin:0 auto;
		}
	}
	h6 {
		padding:40px 0 0 15px;
		font-size: 0.9em;
		color: #fff;
	}
	img {
		padding:18px 0 10px 0;
	}
	ul {
		padding:20px 0 15px 0;
		margin:0 0 0 15px;
		li {
			list-style:none;
			color:#fff;
			font-size: 0.7em;
			padding:5px 0;
			h6 {
				padding:15px 0 0 0;
				font-size: 1.3em;
			}
			a {
				color:#ccc;
				font-size: 1em;
				font-weight: normal;
				i {
					font-size: 2em;
					margin-right:10px;
				}
			}
			a:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
		li.address {
			padding:13px 0 0 40px;
			line-height: 2em;
		}
	}
	.copyright {
		color:#fff;
		font-size: 0.7em;
		padding-left:20px;
		a {
			color: #fff;
		}
	}
	#respond input#submit, 
	a.button, 
	button.button, 
	input.button {
	  background-color:#008cba;
	  border-radius:0;
	  color:#fff;
	  padding: 1rem 2rem 1.0625rem;
	}
	form {
		input {
			background: none;
			border: solid 2px rgba(255,255,255,0.9);
			font-size: 0.95em;
		}
	}
}

@media(max-width:639px){
	.data-block-one,
	.data-block-two,
	.data-block-three {
		h6 {
			background:url('/wp-content/uploads/plus-icon.png') center right no-repeat;
			width: 100%;
			display: block;
			padding:10px 15px;
			cursor: pointer;
			color:#ccc;
			max-width: 300px;
			margin: 0 auto;
			text-align: left;
		}
		h6:hover {
			color:#fff;
		}
		.data-collapse {
			display:none;
		}
		.show {
			display: block;
			margin-top:-25px;
			text-align: left;
			max-width: 270px;
			margin: 0 auto;
		}
	}
}





.woocommerce-ordering {
	.orderby {
		font-size: 0.9em;
	}
}



#sidebar {
	line-height:1.8em;
	padding:20px 0 30px 20px;
	@media(max-width:640px){
		padding:0 45px;
	}
	h3 {
		font-size:1.8em;
	}
	h4 {
		font-weight:400;
		margin:0;
		font-size:1em;
	}
	h5 {
		font-size: 1em
	}

	.widget {
		border:solid 1px rgba(0,0,0,0.1);
		padding:20px;
		margin-bottom:40px;
			ul {
				margin:0;
				padding:0;
				li {
					list-style: none;
					border-top:dotted 1px rgba(0,0,0,0.1);
					font-size: 0.75em;
					padding:10px 0;
					a {
						color:rgba(0,0,0,0.7);
					}
					a:hover {
						color:rgba(0,0,0,0.5);
					}
				}
			}
	}

	.widget_text,
	.widget_search {
		border:none;
		padding:0;
		margin-top:0;
			img {
				padding:2px;
			}
			ul {
				margin:0;
				padding:0;
				li {
					list-style: none;
					border-top:none;
					font-size:1em;
					padding:0;
				}
			}
	}
	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
		font-size: 0.75em;
		font-weight: 600;
		text-transform: uppercase;
	}
	.total {
		font-size: 0.8em;
	}
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove {
  top:initial !important;
  left:initial !important;
  bottom:0 !important;
  right:0 !important;
}








.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product, 
.woocommerce-page[class*=columns-] ul.products li.product, 
.woocommerce[class*=columns-] ul.products li.product {
	padding:20px;
}


#category-tiles {
	margin:25px auto;
	clear:both;
	display:block;
	text-align: center;
	@media(max-width:1200px){
		max-width: 610px;
		margin:0 auto;
	}
	@media(max-width:640px){
		margin:-15px auto;
	}
}

.category-tile {
	margin:0;
	padding:0;
	position:relative;
	display: inline-block;
	width:190px;
	height: 140px;
	@media(max-width:480px){
		width:47%;
		display:block;
		float:left;
		margin:1.5%;
		min-height:125px;
	}
	a {
		img {
			position:absolute;
			zoom:1;
			width: 100%;
			z-index: 2;
			left:0;
		}
		.info {
			opacity: 0;
			transition: all 0.3s ease;
			top:0;
			left:0;
			right:0;
			bottom:0;
			padding:0;
			margin:0;
			position: absolute;
			z-index: 1;
			h4 {
				color: #fff;
				text-align: center;
				font-weight: 900;
				padding:60px 10px 0 10px;
				font-size: 1.2em;
				line-height: 1em;
			}
		}
	}
}

.category-tile a:hover {
	.info {
		opacity: 1;
		width:100%;
		height: 100%;
		background:rgba(0,0,0,0.4);
		z-index: 3;
	}
}






// Specific Media Queries
@media(max-width: 640px){
	div.wpsf-slider-section .wpsf-product-section .owl-controls .owl-buttons {
		position: relative;
		margin-top:60px;
	}
	.owl-pagination {
		display: none;
	}

	.woocommerce {
		.images {
			padding:50px;
		}
		.summary,
		.entry-summary {
			font-size: 0.8em;
			padding:0 20px;
		}
	}

}



.article-header {
	padding: 25px 0 10px 0;
	h1 {
		font-size: 2em;
	}
}

.entry-content {
	font-size:0.8em;
	ul,
	p {
		font-size: 1em;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.1em;
	}
	h5 {
		font-size: 1em;
	}
	h6 {
		font-size: 0.85em;
	}
}




//WooCommerce

.woocommercewrapped {
	font-size: 0.85em !important;
	padding:25px;
}



.woocommerce .related ul li.product img, 
.woocommerce .related ul.products li.product img, 
.woocommerce .upsells.products ul li.product img, 
.woocommerce .upsells.products ul.products li.product img, 
.woocommerce-page .related ul li.product img, 
.woocommerce-page .related ul.products li.product img, 
.woocommerce-page .upsells.products ul li.product img, 
.woocommerce-page .upsells.products ul.products li.product img {
  width: 100px !important;
  margin:0 auto;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	border:none;
}

.variations .label {
  background-color:transparent;
  font-size: 0.6em;
  padding: 15px 0 0;
}

.woocommerce .product .product_title {
  font-size: 1.6em;
}

.woocommerce .cart {
	font-size: 0.8em;
}

.woocommerce .woocommerce-message {
	border-top-color:$primary-color;
}

.woocommerce .woocommerce-message:before {
	color: $primary-color;
}

#tab-description,
#tab-reviews {
	padding: 0 20px;
}

#tab-description h2,
#tab-reviews h2 {
	font-size:1.6em;
}

#tab-description h3,
#tab-reviews h3 {
	font-size:1.3em;
}

.woocommerce span.onsale {
	background: $primary-color;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	color: #000;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	font-weight: 600;
	text-transform: uppercase;
}

.related {
	h2 {
		font-size: 1.6em;
		padding: 35px 0 20px 20px;
	}
	.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
		font-size: 0.75em;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.group_table {
	td {
		margin:0;
		padding:0;
	}
	.label {
	  background: none repeat scroll 0 0 #fff;
	  border-top: 1px solid #ccc !important;
	  border-bottom: 1px solid #ccc !important;
	  display: block;
	  float: left;
	  font-size: 0.8em;
	  margin: 0;
	  width:250px;
	  height:37px;
	  padding: 8px 0px 7px 7px !important;
	  label {
	  	font-size: 0.75em;
	  	text-align:left;
	  	font-style: italic;
	  }
	}
	.price {
		.amount {
			color:#fff;
			text-align: center;
			background:#999;
			height:37px !important;
			overflow: hidden;
			padding: 10px !important;
			display: block;
			margin: 0 !important;
		}
	}
	.in-stock {
		display: none;
	}
}

.woocommerce .cart-collaterals, 
.woocommerce-page .cart-collaterals {
	font-size: 0.8em;
}

.summary .product_meta {
  font-size: 0.8em;
  font-style: italic;
  margin:0 0 25px 0 !important;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
  background-color:$primary-color;
  color: #fff;
}

// .woocommerce-checkout .woocommerce {
// 	h2 {
// 		font-size: 1.6em;
// 	}
// 	h3 {
// 		font-size: 1.3em;
// 	}
// }

// .woocommerce-checkout #sidebar {
// }

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
  background-color:darken($primary-color,10%);
  color: #fff;
}






.visible-for-large-up {
	display:none;
	@media(min-width:1024px){
		display: block;
	}
}

.hide-for-large-up {
	display:block;
	@media(min-width:1024px){
		display: none;
	}
}
